*{
background-color:#bac2df
}
.selector1
{
font-size:15px;
color:#FF5733;
background-color:#F0E686;
}
#selector2
{
font-size:20px;
color:#2E8B57;
background-color:#87CEEB;
}
.selector3
{
font-size:25px;
color:#800080;
background-color:#FFD700;
}