#st{
width:100%;
border-collapse:collapse;
font-family:sans-serif;}
th{
padding:20px;
text-align:left;
color:white;
background-color:#b22222;
border:1px solid grey;}
td
{
padding:8px;
border:1px solid grey;}
tr:hover{
background-color:burlywood;}
tr:nth-child(even){
background-color:#f2f2f2;}